.slds-nav-vertical {
    background: linear-gradient(-45deg, rgb(239, 243, 248) 0%, rgb(231, 246, 255) 100%);
    position: sticky;
    margin-top: 17%;
}

.title-color {
    color: blue;
}

.copyright-text {
    margin-top: 50%;
    color: gray;
    font-family: WorkSans-Light;
    font-weight: 300;
}

.slds-global-header__logo {
    block-size: 10%;
}

.slds-global-header_container {
    border-radius: 0px;
    box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.05);
}

.grid-items {
    margin-left: 80%;
    width: 70%;
}

.icon-container_width {
    width: 100%;
}

.nav-width {
    margin-top: 1%;
}

.card-margin {
    margin-top: 7%;
}

.avatar-specs {
    height: 25%;
    width: 60%;
    border-radius: 50%;
}

body {
    background: rgb(252, 252, 252);
}

.header-padding {
    padding-right: 1rem;
    padding-left: 1rem;
}